*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position:0 -8px;
}